<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">User Settings</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">User Settings</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <div class="container">
    <form action="/reviewer/detail/make_decision/<%= data.id_abs_submission %>" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Topics</label>
        <select class="form-control" name="topic" disabled>
          <option><%= data.nama_topic %></option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title" value="<%= data.judul %>" disabled />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Abstract</label>
        <textarea class="form-control" id="w3review" name="w3review" rows="6" cols="50" style="resize: none" disabled><%= data.abstrak %> </textarea>
      </div>
      <div class="input-group mb-3">
      
          <a href="/reviewer/detail/download/<%= data.file_abs %>" ><button type="button" class="btn btn-primary" id="inputGroupFileAddon02" ><%= data.file_abs %></button></a>
            <label class="input-group-text" for="inputGroupFile02">Submission File</label>
        
      </div>
      <h5>Upload Time : <span><%= data.submitted_at %></span></h5>
      <div class="form-group">
        <label for="exampleInputEmail1">Status</label>
        <select class="form-control" name="status" >
          <option value="1" <% if (data.id_status_abs == 1) { %>
            selected
           <% } %> >In Review</option>
          <option value="2" <% if (data.id_status_abs == 2) { %>
           selected
          <% } %>  >Accepted</option>
          <option value="3" <% if (data.id_status_abs == 3) { %>
            selected
           <% } %> >Rejected</option>
          opt
        </select>
      </div>
      <h5>Decision Time : <span><%= data.decision_at || 'Not Make Decision yet' %></span></h5>

      <div class="form-group">
        <label for="exampleInputEmail1">Comment</label>
        <textarea class="form-control" id="w3review" name="comment" rows="6" cols="50" style="resize: none"><%= data.comment  %></textarea>
        <small id="emailHelp" class="form-text text-muted">Silahkan isi komentar</small>
      </div>

      <button type="submit" class="btn btn-primary">Make Decision</button>
    </form>
  </div>
</div>
